pandas==2.2.3
numpy==1.26.4
sqlalchemy==2.0.50
psycopg2-binary==2.9.12
duckdb==1.5.3
prefect==3.4.3
fastapi==0.115.12
starlette==0.46.2
importlib_metadata==8.9.0
dbt-duckdb==1.10.1
dbt-core==1.11.11
dbt-postgres==1.10.0
soda-core-duckdb
streamlit
minio